

<form action="/auth/createPost" method="POST">
    <label type="text" name="Titulo">Titulo:</label>
    <input type="text" name="Titulo" size="10" maxlength="30">
    <label type="text" name="texto">Contenido del Post:</label>
    <input type="text" name="texto" size="30" maxlength="50">
    <input type="submit" value="Post">
</form>