Bienvenido/a Identificate para Acceder al Sitio
<br></br>

<form action="/auth/login" method="POST">
    <label type="text" name="email">Email:</label>
    <input type="text" name="email" size="10" maxlength="30">
    <label type="text" name="password">Contraseña:</label>
    <input type="text" name="password" size="10" maxlength="30">
    <input type="submit" value="Login">
</form>

<br></br>

<a href="/auth/register">Registrarme</a>