Bienvenido/a Ingresa tus Datos para Registrarte en el Sitio y Empezar a Compartir con la Comunidad!!
<br></br>
<form action="/auth/register" method="POST">
    <label type="text" name="usuario">Usuario:</label>
    <input type="text" name="usuario" size="10" maxlength="30">
    <label type="text" name="email">Email:</label>
    <input type="text" name="email" size="10" maxlength="30">
    <label type="text" name="password">Contraseña:</label>
    <input type="text" name="password" size="10" maxlength="30">
    <input type="submit" value="Registrarme">
</form>