

header{
    background-color: red;
    height: 2em;
    grid-area: header;

}

main{
    background-color:burlywood;
    grid-area: main;
    height: auto;
}
footer{
    background-color: blueviolet;
    height: 1em;
    grid-area: footer;
}

body{
    display: grid; /* centra vertical */
    height: 100vh;
    margin: 0;
    grid-template-rows: 5% 90% 5%; 
    grid-template-columns: 15% 70% 15%; 
    grid-gap: 10px; /* espacio entre celdas */
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
}

